@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  max-width: 21.4375rem;
  padding: 0;
  margin: 1.75rem auto;
}
.container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 0px;
  background-color: #ffffff;
  border-radius: 0.625rem;
}
.container .card img.img-product-desktop {
  width: 0%;
  height: 0%;
}
.container .card img.img-product-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.container .card .card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
}
.container .card .card-content .uppertext-case {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 0.75rem;
}
.container .card .card-content .h1-product-title {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 1rem;
}
.container .card .card-content .product-description {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1.5rem;
}
.container .card .card-content .price {
  width: 12.125rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}
.container .card .card-content .price .discounted-price {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: hsl(158, 36%, 37%);
}
.container .card .card-content .price .original-price {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.container .card .card-content .cta-button {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  border-radius: 0.5rem;
  margin-top: 1.25rem;
}
.container .card .card-content .cta-button .add-to-cart {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .container {
    max-width: 37.5rem;
    padding: 0;
    margin: 10.9375rem auto;
  }
  .container .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0px;
    background-color: #ffffff;
    border-radius: 0.625rem;
  }
  .container .card img.img-product-desktop {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
  }
  .container .card img.img-product-mobile {
    display: none;
  }
  .container .card .card-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }
  .container .card .card-content .price {
    width: 12.5rem;
    height: 2rem;
    align-items: center;
  }
  .container .card .card-content .price .discounted-price {
    font-family: "Fraunces";
    font-weight: 600;
    font-size: 2.1875rem;
    line-height: 100%;
    letter-spacing: 0px;
    color: hsl(158, 36%, 37%);
  }
  .container .card .card-content .cta-button {
    margin-top: 1.625rem;
  }
  .container .card .card-content .cta-button :active {
    background-color: hsl(212, 21%, 14%);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}