@use '../functions' as *;
@use '../variables' as *;
@use 'sass:map';

//prettier-ignore
$text-presets: (
  'fraunces-semibold-L': ('font-family': "Fraunces", 'font-weight': 600, 'font-size': rem-calc(35), 'line-height': 100%, 'letter-spacing': 0px),
  'fraunces-bold-L': ('font-family': "Fraunces", 'font-weight': 700, 'font-size': rem-calc(35), 'line-height': 100%, 'letter-spacing': 0px),
  'montserrat-regular': ('font-family': "Montserrat", 'font-weight': 400, 'font-size': rem-calc(14), 'line-height': 150%, 'letter-spacing': 0px),
  'montserrat-bold': ('font-famiy': "Montserrat", 'font-weight': 700, 'font-size': rem-calc(14), 'line-height': 150%, 'letter-spacing': 0px),
);

@mixin typography($text-preset) {
  $preset: map.get($text-presets, $text-preset);
  font-family: map.get($preset, 'font-family');
  font-weight: map.get($preset, 'font-weight');
  font-size: map.get($preset, 'font-size');
  line-height: map.get($preset, 'line-height');
  letter-spacing: map.get($preset, 'letter-spacing');
}
